{% extends 'base.html' %}
{% block title %}

{% endblock title %}
{% block body %}

<div class="container12" >
  
  
  <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
    Personal Details
  </div>
  
  <div class="p-3 bg-danger bg-opacity-10 border border-danger rounded-start rounded-end">
        <b> Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>&nbsp;&nbsp;Prashant Kumar<br>
        <b> DOB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> &nbsp;28th Feb 1997<br>
        <b> Gender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b>&nbsp;  Male<br>
        <b> Nationality&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> &nbsp;Indian<br>
        <b> Contact Address&nbsp;&nbsp; :&nbsp;</b> 
        Badripur, shimla bypass road, 
        district dehradun, uttarakhand,India 
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>


{% endblock body %}
