{% extends 'base.html' %}
{% block title %}

{% endblock title %}
{% block body %}
  <div class="container1">
    <div class="row bg-danger bg-opacity-10">
      
      <div class="col order-last text-center">
        <img src="/static/image/prashant.jpg" width="200" height= '200' class="img-thumbnail" alt="...">
      </div>
      
      <div class="col order-first">

        <div class="h4 pb-2 mb-4 text-danger ">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HELLO!
        </div>
      
        
        <div class="h1 text-secondary ">
          &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; I'm Prashant Kumar
        </div>
        <div class="h5 pb-2 mb-4 text-secondary text-end">
          Web Developer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <p class="card-text">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/portfolio"><button type="button" class="btn btn-outline-dark"><b>Portfolio</b></button></a>&nbsp;
        <a href="/static/download/prashant_kumar_resume.pdf" download><button type="button" class="btn btn-outline-dark"><b>Download CV</b></button></a>
        
        <br><br><br><br>
        
      </div>
    </div>
  </div>



  <div class="container2">
    <div class="row">
      <div class="col order-last ">
        <div class="card  mb-3" style="max-width: 18rem;
        margin-left:60px;">
          <div style="background-image: linear-gradient(to left,rgb(230, 206, 206),rgb(200, 180, 180));" class="card-header">
            <div class="spinner-grow text-primary spinner-grow-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            
            <div class="spinner-grow text-danger spinner-grow-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-warning spinner-grow-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            
            
          </div>
          <div class="card-body bg-danger bg-opacity-10">
            <h6 class="card-title">Linkedin</h6>
            <p class="card-text"><a style="color: black;" href="linkedin.com/in/prashant288">linkedin.com/in/prashant288</a></p>
            <h6 class="card-title">Github</h6>
            <p class="card-text"><a style="color: black;" href="https://github.com/Prashant288">github.com/Prashant288</a></p>
          </div>
        </div>
      </div>
      
      <div class="col order-first">
        
        
        <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
          About Me
        </div>
        
        <div class="p-3 bg-danger bg-opacity-10 ">
            <p>
            <b>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> Prashant Kumar<br>
            <b>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> prashantkumar311@gmail.com<br>
            <b>Mobile No.&nbsp; :</b> 8384821997
            </p>
        </div>
        
      </div>
      
        
    </div>
  </div>



  <div class="container3">
    <div class="row">
      
      <div class="col order-first">
        
        
        <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
          Skill's :
        </div>
        
        <div class="p-3 bg-danger bg-opacity-10 ">
          <p><b> Frond-End&nbsp;&nbsp; :</b> HTML, CSS, Bootstrap<br>
            <b>Back-End &nbsp;&nbsp;&nbsp; :</b> Python, Django</p>
        </div>
        
        <br>
      </div>
    </div>

  </div>






{% endblock body %}
