{% extends 'base.html' %}
{% block title %}

{% endblock title %}
{% block body %}

<div class='container5'>

<div class=" h4 text-danger">
  <br>
  PRASHANT KUMAR<br>
  
</div>
<div class="h6 pb-2 mb-4 text-danger">
  Email id : prashantsemwal311@gmail.com<br>
  Mobile no. :+91-8384821997
</div>
<br>



<div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
  ACADEMIA
</div>

<div class="p-3 bg-danger bg-opacity-10">
  ❖ Bachelor degree in Electrical from Graphic Era University, dehradun 
  in 2015-19. (secured 7.06 CGPA)<br><br>
  ❖ Class 12th (Science stream with Mathematics) from Private Candidates 
  (CBSE Board) in 2015. (secured 62%)<br><br>
  ❖ Class 10th from Johnson Secondary School (CBSE Board) in 2012. 
  (secured 6.6 CGPA)
        
</div>

<br><br>
<div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
  TECHNICAL SKILL's
</div>

<div class="p-3 bg-danger bg-opacity-10">
  Python | Django | HTML | CSS | Bootstrap
</div>
<br><br>
<div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
INTERSHIP
</div>

<div class="p-3 bg-danger bg-opacity-10 ">
  Intern as an Electrical Trainee with Bharat Heavy Electrical Limited in 
  Hardwar (Duration: 45 Days) as a part of Engineering curriculum.
</div>  

<br><br>
<div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
  AREAS OF INTEREST
</div>

<div class="p-3 bg-danger bg-opacity-10 ">
  Programming | Robotics
</div> 
<br><br>
<div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
Language Known
</div>

<div class="p-3 bg-danger bg-opacity-10 ">
  -English<br>
  -Hindi
</div>

<br><br>

<div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
  Location Preference:
</div>

<div class="p-3 bg-danger bg-opacity-10">
  Anywhere
</div>
</div>
<br>
  
    
{% endblock body %}