{% extends 'base.html' %}
{% block title %}

{% endblock title %}

{% block body %}
<br><br>
<div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
    PROJECT DETAILS
  </div>
<br>
  <div class="p-3 bg-danger bg-opacity-10 ">
    <table>
      <tr>
        <td style="padding-right: 10px ;padding-left: 10px ;"><p>❖<b> Django project</b> based on Porfolio site using HTML, CSS, Bootstrap as a front-end and python(Django framework)as a back-end, code on visual studio code.
        </p><br>
        <h6><b>Github - </b></h6>
        <a style="color: black ;" href="https://github.com/Prashant288/portfolio">github.com/Prashant288/portfolio</a><br><br><br><br>
        </td>
        <td><img style="width: 300px;height: 200px;" src="/static/image/portfoliopic.png"></td>
        
      </tr>
    </table>
  </div>
  <br><br>
  <div class="p-3 bg-danger bg-opacity-10 ">
    <table>
      <tr>
        <td style="padding-right: 10px ;padding-left: 10px ;">❖ I had done final year project on <b>“Metal detector robotic vehicle”</b> the main objective of this project to detect metal ahead while moving controlled by mobile app when detect it activate buzzer to alert us.
        </p><br>
        <h6><b>Github - </b></h6>
        <a style="color: black ;" href="https://github.com/Prashant288/MDRV">github.com/Prashant288/MDRV</a><br><br><br>
        </td>
        <td><img style="width: 300px;height: 200px;" src="/static/image/MDRV.jpg"></td>
        
      </tr>
    </table>
  </div>
  
  
  <br><br><br><br>
  
{% endblock body %}